<% include partials/header %>
<div class="container" style="margin-top: 2%;">
  <button class="btn btn-lg btn-primary" onclick="go_back()">Go back</button>
</div>
<% include partials/search %>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-0 offset-2 col-10">
                <!--User Basic Info-->
                    <div class="card" style="width: 18rem;">
                            <img src="<%= data['avatar_url'] %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <p class="card-text"><strong><%= data['name']%></strong></p>
                              <p class="card-text"><%= data['login']%></p>
                              <hr>
                              <% if(data['bio'] != ''){ %>
                                <p class="card-text"><%= data['bio']%></p>
                              <%} %>
                              <% if(data['company'] != null){ %>
                                <p class="card-text"><i class="material-icons">
                                        people
                                        </i><%= data['company']%></p>
                              <%} %>
                              <hr>
                              <% if(data['location'] != '' && data['location'] != null){ %>
                                <p class="card-text"><i class="material-icons">
                                        location_on
                                        </i><%= data['location']%></p>
                              <%} %>
                              <% if(data['blog'] != ''){ %>
                                <i class="material-icons">
                                        all_inclusive
                                        </i><a href="<%=data['blog'] %>" target="_blank" class="card-text"> <%= data['blog']%></a>
                              <%} %>
                                   
                            </div>
                          </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <br>
                <div class="row">
                  <!-- Repository No. Follower No. Following No.-->
                  <div class="col-md-3 col-12">
                    <h4 style="color: white;"><span class="badge badge-light">Repositories <span class="badge badge-secondary" id="repo-count"></span></span></h4>
                  </div>
                  <div class="col-md-2 offset-md-0 col-4" style="margin-left: 10px;">
                    <h4 style="color: white;"><span class="badge badge-success">Followers <span class="badge badge-light"><%=data['followers']%></span></span></h4>
                  </div>
                  <div class="col-md-3 offset-1 offset-md-0 col-3" style="margin-left: 10px;">
                    <h4 style="color: white;"><span class="badge badge-primary">Following <span class="badge badge-light"><%=data['following']%></span></span></h4>
                  </div>
                </div>
                <!--Repo Info-->
                <div id="repos">
                        <img src="/images/lg.comet-spinner.gif" alt="" id="image">
                </div>
            </div>
        </div> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        let user = '<%=data["login"]%>';
        $(document).ready(function(){
            
     $.ajax({
        url:'https://api.github.com/users/'+user+'/repos',
        beforeSend: function(){
        $('#image').show();
    },
    complete: function(){
        $('#image').hide();
    },
        data:{
            client_id: 'eb37eae804d2c4b69980',
            client_secret: '869f459c6e3f3d0f8413e34f1443e6512a70d58a',
          sort: 'created: asc',
        }
      }).done(function(repos){
        var count = Object.keys(repos).length;
        if(count!=0){
          $("#repo-count").append(`${count}`);
            $.each(repos, function(index, repo){
              if(repo.description === null){
                repo.description = "";
              }
              if(repo.language === null){
                repo.language = "";
              }
          $('#repos').append(`
            <div class="card bg-light">
                <br>
              <div class="row">
                <div class="offset-md-1 offset-1 col-md-4 col-4 card-title">
                  <strong style="color: dodgerblue;"><a href="${repo.html_url}">${repo.name}</a></strong>:
                </div>
                <div class="col-md-4 offset-1 offset-md-3 col-6">
                  <span class="badge" style="font-size: 15px;"><img src="/images/img_209881.png" alt="" width="15px" height="15px"> Forks: ${repo.forks_count}</span>
                  <span class="badge badge-primary">Watchers: ${repo.watchers_count}</span>
                </div>
                </div>
                <div class="row">
                    <div class="offset-md-1 offset-1 col-md-5 col-4">
                            ${repo.description}
                        </div>
                <div class="offset-md-2 col-md-4 offset-1 col-6">
                        <a href="https://github.com/${repo.owner.login}/${repo.name}/archive/master.zip" class="btn btn-success">Clone or Download<i class="material-icons">arrow_drop_down</i> </a>
                    </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                    <div class="offset-md-1 offset-1 col-md-4 col-5">
                    <span class="badge badge-primary" style="font-size: 15px;">${repo.language}</span> &nbsp;&nbsp; <i class="material-icons">star</i> ${repo.stargazers_count}
                    </div>
                <div class="offset-md-3 col-md-4 col-6">
                  <a href="${repo.html_url}" target="_blank" class="btn btn-dark" style="width: 100%;">View Repo</a><br><br>
                </div>
              </div>
            </div>
            <br>
          `);
        });
        }
        else{
          $("#repo-count").append(`${count}`);
            $('#repos').append(`<div class="alert alert-info" role="alert">
                   <%= data['login'] %> doesn’t have any public repositories yet.
</div>`);
        }
      });
    });
    function go_back(){
      window.history.back();
    }
    </script>
    <br><br><br><br><br><br>
<% include partials/footer %>
