<div class="container">
    <h3>Total Results Found: <%= data['total_count']%></h3>
    <% if( data['total_count'] == '0'){ %>
        <div class="alert alert-info" role="alert">
               Sorry!! :(  We were not able to find any restaurant in this category, Try another Category.
        </div>
    <% }
    else if(data['total_count'] == ''){ %>
      <h3>Search for users!!</h3> 
   <% }
   else{ %>
    <!-- Display Result here-->
    <div class="result">
<% data['items'].forEach(function(item){ %>
    <div class="box">
        <img src="<%= item['avatar_url']%>" alt="" width="60px" height="60px">
      <strong> Username: </strong> <%= item['login'] %> <br>
      <strong> URl: </strong> <a href="<%= item['url'] %>">View Profile</a> <br>
    </div>
    <hr> <br>
    <!-- For Pagination -->
<% }) %>
<% if(page_no == '1'){ %>
    <a href="/show/<%=page['next']['q']%>/<%= page['next']['page'] %>">Next</a>
    <a href="/show/<%=page['last']['q']%>/<%= page['last']['page'] %>">Last</a>
<%}
  else if(page_no*5 >= data['total_count']){ %>
    <a href="/show/<%=page['first']['q']%>/<%= page['first']['page'] %>">First</a>
    <a href="/show/<%=page['prev']['q']%>/<%= page['prev']['page'] %>">Prev</a>
<%  } 
   else{ %>
    <a href="/show/<%=page['first']['q']%>/<%= page['first']['page'] %>">First</a>
    <a href="/show/<%=page['prev']['q']%>/<%= page['prev']['page'] %>">Prev</a>
    <a href="/show/<%=page['next']['q']%>/<%= page['next']['page'] %>">Next</a>
    <a href="/show/<%=page['last']['q']%>/<%= page['last']['page'] %>">Last</a>
    <%} %>
</div>
   <% } %>
</div>